<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Unidad 1</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/src/app/componentes/d1/d1.component.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Masthead-->

        <header class="masthead text-white text-center" >
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/Deny.jpeg" alt="..." style="width: 200px;"/>
                <!-- Masthead Heading-->
                <h2 class="masthead-heading text-uppercase mb-0">Deny Fernanda Olivares Romero</h2>
                <!-- Icon Divider-->
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">NC: 19680213</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <br>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="text-center">
                        <A type="button" (click)="modal.open(exa)">
                            <IMG src="assets/img/exa.png" BORDER=10 width="400px">
                            </A>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <!-- Portfolio Item 2-->
                    <div class="col">
                        <a type="button" (click)="modal.open(t1)">
                            <IMG src="assets/img/t1.jpg" BORDER=5 width="230px">
                        </a>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col">
                        <A type="button" (click)="modal.open(t2)">
                            <IMG src="assets/img/t2.jpg" BORDER=5 width="220px">
                            </A>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col">
                        <A type="button" (click)="modal.open(t3)">
                            <IMG src="assets/img/t3.jpg" BORDER=5 width="230px">
                            </A>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col">
                        <A type="button" (click)="modal.open(t4)">
                            <IMG src="assets/img/t4.png" BORDER=5 width="230px">
                            </A>
                    </div>
                    <!-- Portfolio Item 6-->
                </div>
            </div>
        </section>


<section class="examen">
    <ng-template #exa let-modal>
        <div class="modal-xl" role="document">
            <div class="modal-header">
                <div class="text-center">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Examen Unidad 1</h2>
                    <!-- Portfolio Modal - Image-->
                </div>
            </div>
            <div class="modal-body">
                <object data="../assets/img/Examen_U1.pdf" height="500px" width="100%"></object>

                                <!-- Portfolio Modal - Text-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>

    </ng-template>
</section>

<section class="trabajo1">
    <ng-template #t1 let-modal>
        <div class="mo" role="document">
            <div class="modal-header">
                <div class="text-center">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Practica 1 Cable UTP y Roseta</h2>
                    <!-- Portfolio Modal - Image-->
                </div>
            </div>
            <div class="modal-body">
                <object data="../assets/img/Reporte_1.pdf" height="500px" width="100%"></object>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>
    </ng-template>
</section>

<section class="trabajo2">
    <ng-template #t2 let-modal>
        <div class="mo" role="document">
            <div class="modal-header">
                <div class="text-center">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Practica 2 Instalacion de Ubuntu</h2>
                    <!-- Portfolio Modal - Image-->
                </div>
            </div>
            <div class="modal-body">
                <object data="../assets/img/Reporte_InstalaciónUbuntu.pdf" height="500px" width="100%"></object>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>
    </ng-template>
</section>

<section class="trabajo3">
    <ng-template #t3 let-modal>
        <div class="mo" role="document">
            <div class="modal-header">
                <div class="text-center">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Practica 3 Instalacion de SSH</h2>
                    <!-- Portfolio Modal - Image-->
                </div>
            </div>
            <div class="modal-body">
                <object data="../assets/img/Reporte_ServidorSSH.pdf" height="500px" width="100%"></object>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>
    </ng-template>
</section>

<section class="trabajo4">
    <ng-template #t4 let-modal>
        <div class="mo" role="document">
            <div class="modal-header">
                <div class="text-center">
                    <!-- Portfolio Modal - Title-->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Practica 4 Instalacion de NTP</h2>
                    <!-- Portfolio Modal - Image-->
                </div>
            </div>
            <div class="modal-body">
                <object data="../assets/img/Reporte_ServidorNTP.pdf" height="500px" width="100%"></object>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                </button>
            </div>
        </div>
    </ng-template>
</section>






    </body>
</html>
