<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portafolioss</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/src/app/componentes/home/home.component.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Header-->
        <header class="masthead d-flex align-items-center" style="color:with ;">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">Conmutación y Enrutamiento de redes de datos.</h1>
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h1>Portafolio de las actividades realizadas en el semestre</h1>
                        <p class="lead mb-5">
                            Profesor: URZUA SANCHEZ GUILLERMO.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portafolio Deny-->
        <section class="content-section text-white text-center" id="services" style="background-color:pink ;">
            <div class="container px-4 px-lg-5">
                <div class="deny">
                    <div class="content-section-heading">
                        <h2 class="mb-5">Portafolio</h2>
                    </div>
                    <section class="content-section" id="portfolio">
                        <div class="container px-4 px-lg-5">
                            <div class="content-section-heading text-center">
                                <img class="circular--square" src="assets/img/Deny.jpeg" />
                                <h2 >Deny Fernanda Olivares Romero</h2>
                                <h2 class="mb-5">Unidades</h2>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="portfolio-item" (click)="d1()">
                                        <img class="img-fluid" src="assets/img/1.png" alt="..." />
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="portfolio-item" (click)="d2()">
                                        <img class="img-fluid" src="assets/img/2.png" alt="..." />
                                    </a>
                                </div>
                                <br>
                            </div>
            
                            <div class="row">
                                <div class="col">
                                    <a class="portfolio-item" href="#!">
                                        <img class="img-fluid" src="assets/img/3.png" alt="..." />
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="portfolio-item" href="#!">
                                        <img class="img-fluid" src="assets/img/4.png" alt="..." />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- Portfolio Eli-->
        <section class="content-section text-white text-center" id="services" style="background-color:aquamarine ;">
            <div class="container px-4 px-lg-5">
                <div class="deny">
                    <div class="content-section-heading">
                        <h2 class="mb-5">Portafolio</h2>
                    </div>
                    <section class="content-section" id="portfolio">
                        <div class="container px-4 px-lg-5">
                            <div class="content-section-heading text-center">
                                <img class="circular--square" src="assets/img/yop.jpg" />
                                <h2 >Juárez Rodríguez Eli</h2>
                                <h2 class="mb-5">Unidades</h2>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="portfolio-item" (click)="e1()">
                                        <img class="img-fluid" src="assets/img/1.png" alt="..." />
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="portfolio-item" (click)="d2()">
                                        <img class="img-fluid" src="assets/img/2.png" alt="..." />
                                    </a>
                                </div>
                                <br>
                            </div>
            
                            <div class="row">
                                <div class="col">
                                    <a class="portfolio-item" href="#!">
                                        <img class="img-fluid" src="assets/img/3.png" alt="..." />
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="portfolio-item" href="#!">
                                        <img class="img-fluid" src="assets/img/4.png" alt="..." />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </body>
</html>
